<%= form_for(@statistic_value) do |f| %>
	<% if @statistic_value.errors.any? %>
		<div id="error_explanation">
			<h2>Nie można dodać itemu do bazy: <% pluralize(@statistic_value.errors.count, "błąd") %></h2>

			<ul>
				<% @statistic_value.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :print_name, 'Wyświetlana nazwa' %><br />
		<%= f.text_field :print_name %>
	</div>
	<div class="field">
		<%= f.label :interval, 'Interwał (s)' %><br />
		<%= f.number_field :interval, :disabled => !@statistic_value.new_record? %>
	</div>
	<div class="field">
		<%= f.label :active, 'Aktywny' %><br />
		<%= f.check_box :active %>
	</div>
	<div class="field">
		<%= f.label :script, 'Skrypt pobierający dane' %><br />
		<%= f.text_area :script %>
	</div>
	<%= f.submit 'Zapisz', :class => "button action" %>
<% end %>
