<table class="data-list">
  <tr>
  	<th>Lp</th>
    <th>Nazwa</th>
    <th>Nazwa zmiennej</th>
    <th>Interwał</th>
    <th></th>
  </tr>

<% @statistic_values.each_with_index do |statistic_value, index| %>
  <tr>
  	<td class="id"><%= index %></td>
    <td class="item-list-column-long"><%= statistic_value.print_name %></td>
    <td class="item-list-column"><%= statistic_value.name %></td>
    <td class="item-list-column"><%= statistic_value.interval %></td>
	<!-- td><%= link_to 'Show', statistic_value %></td -->
    <td>
    	<%= link_to image_tag('edit-icon.png'), edit_statistic_value_path(statistic_value) %>
    	<%= link_to image_tag('delete-icon.png'), statistic_value, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
<%= link_to 'Dodaj nowy item', new_statistic_value_path, :class => "button"%>

<br />
