<div id="add-form">
  <div>
    <% @empty = Interface.new %>
    <%= form_for @empty, :url => wizard_interfaces_path, :remote => true do |f| %>
      <table>
        <tr>
          <th><%= f.label :name, 'Nazwa interfejsu' %></th>
          <td><%= f.text_field :name, :readonly => true %></td>
        </tr>
        <tr>
          <th><%= f.label :method, 'Metoda adresacji' %></th>
          <td><%= f.select(:method, options_for_select(['DHCP', 'STATIC']), {}, {:class => 'method'}) %></td>
        </tr>
      </table>

      <%= submit_tag %>
    <% end %>
  </div>
</div>
