<%= render 'dateform'%>

<div class="graph_container">
  <%= form_tag statistics_generate_url do %>
	<%= hidden_field_tag :date_from, params[:date_from] %>
	<%= hidden_field_tag :date_to, params[:date_to] %>

	<br />
	<div class="arrow_container">
	  <%= submit_tag '', :name => 'offset[left][half]', :class => 'left_half arrow' %>
	  <%= submit_tag '', :name => 'offset[left][full]', :class => 'left arrow' %>
	</div>
	<%= image_tag "/charts/#{@file}", :class => 'graph' %>
	<div class="arrow_container">
	  <%= submit_tag '', :name => 'offset[right][half]', :class => 'right_half arrow' %>
	  <%= submit_tag '', :name => 'offset[right][full]', :class => 'right arrow' %>
	</div>
  <% end %>
</div>
