<div id="iptables-editor">
	<table>
		<tr>
			<td colspan="3" class="rules">
				<div class="box">
					<h3>FORWARD</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="image">
				<%= image_tag "iptables/all/dpp-0.png", :alt => nil %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="box">
					<h3>PREROUTING</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</td>
			<td class="image middle">
				<%= image_tag "iptables/all/dpp-1.png", :alt => nil %>
			</td>
			<td>
				<div class="box">
					<h3>POSTROUTING</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="image">
				<%= image_tag "iptables/all/dpp-2.png", :alt => nil %>
			</td>
		</tr>
		<tr>
			<td>
				<div class="box">
					<h3>INPUT</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</td>
			<td class="image middle">
				<%= image_tag "iptables/all/dpp-3.png", :alt => nil %>
			</td>
			<td>
				<div class="box">
					<h3>OUTPUT</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="image">
				<%= image_tag "iptables/all/dpp-4.png", :alt => nil %>
			</td>
		</tr>
		<tr>
			<td colspan="3" class="rules">
				<div class="box">
					<h3>LOCALHOST</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
</div>
