<div id="iptables-editor">
	<div class="interface">
		<div class="rules box">
			<h3>FORWARD</h3>
			<ul>
				<li></li>
			</ul>
		</div>
		<div class="table">
			<div>
				<div class="image"><%= image_tag "iptables/all/dpp-1-1.png", :alt => nil, :class => "td" %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-1-2.png", :alt => nil, :class => "td" %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-1-3.png", :alt => nil, :class => "td" %></div>
			</div>
			<div>
				<div class="box">
					<h3>PREROUTING</h3>
					<ul>
						<li></li>
					</ul>
				</div>
				<div class="image middle bg2"><%= image_tag "iptables/all/dpp-2-2.png", :alt => nil %></div>
				<div class="box">
					<h3>POSTROUTING</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
			<div>
				<div class="image"><%= image_tag "iptables/all/dpp-3-1.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-3-2.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-3-3.png", :alt => nil %></div>
			</div>
			<div>
				<div class="box">
					<h3>INPUT</h3>
					<ul>
						<li></li>
					</ul>
				</div>
				<div class="image middle bg4"><%= image_tag "iptables/all/dpp-4-2.png", :alt => nil %></div>
				<div class="box">
					<h3>OUTPUT</h3>
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
			<div>
				<div class="image"><%= image_tag "iptables/all/dpp-5-1.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-5-2.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-5-3.png", :alt => nil %></div>
			</div>
		</div>
		<div class="rules box">
			<h3>LOCALHOST</h3>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</div>