<div data-crud-form="add edit">
  <div>
    <%= form_tag wizard_zones_path, :remote => true do %>
      <%= hidden_field :zone, :old_name, :'data-crud-clean' => true %>
      <table>
        <tr>
          <th><%= label :zone, :name, 'Nazwa strefy' %></th>
          <td><%= text_field :zone, :name, :'data-crud-clean' => true %></td>
        </tr>
        <tr>
          <th><%= label :zone, :type, 'Typ strefy' %></th>
          <td><%= select :zone, :type, options_for_select(['LAN', 'WAN', 'DMZ', 'WIFI']), {}, {:class => 'type', :'data-crud-clean' => true} %></td>
        </tr>
        <tr>
          <th><%= label :zone, :method, 'Metoda adresacji' %></th>
          <td><%= select :zone, :method, options_for_select(['DHCP', 'STATIC']), {}, {:class => 'method', :'data-crud-clean' => true} %></td>
        </tr>
        <tr>
          <th><%= label :zone, :address, 'IP' %></th>
          <td><%= text_field :zone, :address, :'data-disable-on' => 'method-dhcp', :'data-crud-clean' => true %></td>
        </tr>
        <tr>
          <th><%= label :zone, :netmask, 'Maska' %></th>
          <td><%= text_field :zone, :netmask, :'data-disable-on' => 'method-dhcp', :'data-crud-clean' => true %></td>
        </tr>
        <tr>
          <th><%= label :zone, :gateway, 'Gateway' %></th>
          <td><%= text_field :zone, :gateway, :'data-disable-on' => 'method-dhcp method-static-lan', :'data-crud-clean' => true %></td>
        </tr>
        <tr>
          <th><%= label :zone, :dns_nameservers, 'DNS' %></th>
          <td><%= text_field :zone, :dns_nameservers, :'data-disable-on' => 'method-dhcp method-static-lan', :'data-crud-clean' => true %></td>
        </tr>
        <tr>
          <th><%= label :zone, :interface, 'Interface' %></th>
          <td><%= select :zone, :interface, options_for_select([''] + Interface::Base.all.map(&:name)), {}, {:class => 'interface', :'data-crud-clean' => true} %></td>
        </tr>
        <tr>
          <th colspan="2">Dodatkowe usługi</th>
        </tr>
        <tr>
          <th><%= label :zone, :dhcp_service, 'DHCP' %></th>
          <td>
            <%= check_box :zone, :dhcp_service, :'data-disable-on' => 'method-dhcp', :'data-crud-clean' => true %>
            <%= text_field :zone, :dhcp_lower_bound, :size => '12', :'data-disable-on' => 'method-dhcp', :'data-crud-clean' => true %> - 
            <%= text_field :zone, :dhcp_upper_bound, :size => '12', :'data-disable-on' => 'method-dhcp', :'data-crud-clean' => true %>
          </td>
        </tr>
      </table>

      <%= submit_tag %>
    <% end %>
  </div>
</div>
