<tr>
  <td data-name="name"><%= zone.name %></td>
  <td data-name="type"><%= zone.type %></td>
  <td data-name="method"><%= zone.method %></td>
  <td data-name="ip"><%= zone.ip %></td>
  <td data-name="mask"><%= zone.mask %></td>
  <td data-name="gateway"><%= zone.gateway %></td>
  <td data-name="dns"><%= zone.dns %></td>
  <td data-name="interface"><%= zone.interface %></td>
</tr>
