<tr data-object='<%= zone.to_json(:only => [:name]) %>' >

  <td><%= zone.name %></td>
  <td><%= zone.type %></td>
  <td><%= zone.method %></td>
  <td><%= zone.address unless zone.method_dhcp? %></td>
  <td><%= zone.netmask unless zone.method_dhcp? %></td>
  <td><%= zone.gateway unless zone.method_dhcp? %></td>
  <td><%= zone.dns_nameservers unless zone.method_dhcp? %></td>
  <td><%= zone.interface %></td>
</tr>
