<h1>Edycja stref</h1>

<% @zones %>

<%
  table = {:error => [], :name => [], :type => [], :ip => [], :mask => [], :gateway => [], :dns => [], :interface => []}
  lp = 0
  for @zone in @zones do
    error = nil
    if @zone.errors.any?
      was_errors = true
      error = '<ul>' + @zone.errors.map {|name, msg| "<li>#{msg}</li>"}.join + '</ul>'
    end
    table[:error] << error

    fields_for "zone[#{lp += 1}]", @zone do |f|
      table[:name] << f.text_field(:name)
      table[:type] << f.select(:type, options_for_select(['WAN', 'DMZ', 'LAN', 'WIFI'], @zone.type), {}, {:class => 'zone-type'})
      table[:ip] << f.text_field(:ip)
      table[:mask] << f.text_field(:mask)
      table[:gateway] << f.text_field(:gateway)
      table[:dns] << f.text_field(:dns)
      table[:interface] << f.select(:interface, options_for_select(['eth0', 'eth1'], @zone.type), {}, {:class => 'zone-type'})
    end
  end
%>

<%= raw '<h3>Wystapily bledy podczas zapisu konfiguracji</h3>' if was_errors %>
<%= form_tag wizard_zones_path do |f| %>
  <table>
    <tr>
      <td></td><%= raw table[:error].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
    <tr>
      <th> Nazwa </th>
      <%= raw table[:name].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
    <tr>
      <th> Typ </th>
      <%= raw table[:type].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
    <tr>
      <th> Ip </th>
      <%= raw table[:ip].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
    <tr>
      <th> Maska </th>
      <%= raw table[:mask].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
    <tr>
      <th> Gateway </th>
      <%= raw table[:gateway].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
    <tr>
      <th> DNS </th>
      <%= raw table[:dns].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
    <tr>
      <th> Interface </th>
      <%= raw table[:interface].map {|x| "<td>#{x}</td>" } .join %>
    </tr>
  </table>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
