
<%= form_tag iptables_path, :method => 'put', :id => 'iptables-editor-form' do %>
	<%= submit_tag "Zapisz", :class => 'button' %>
<div id="iptables-editor">
	<% rules.each do |interface, irules|
		irules = rules[interface.to_sym] -%>
	<div class="interface" data-interface-type="<%= interface %>">
		<%= render :partial => 'box', :locals => { :chain => :FORWARD, :rules => irules } %>
		<div class="table">
			<div>
				<div class="image">
					<div class="interface-name">
						<%= image_tag "iptables/all/dpp-1-1.png", :alt => nil, :class => "td" %>
						<span><%= interface %></span>
					</div>
				</div>
				<div class="image"><%= image_tag "iptables/all/dpp-1-2.png", :alt => nil, :class => "td" %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-1-3.png", :alt => nil, :class => "td" %></div>
			</div>
			<div class="level">
				<%= render :partial => 'box', :locals => { :chain => :PREROUTING, :rules => irules } %>
				<div class="image middle bg2"><%= image_tag "iptables/all/dpp-2-2.png", :alt => nil %></div>
				<%= render :partial => 'box', :locals => { :chain => :POSTROUTING, :rules => irules } %>
			</div>
			<div>
				<div class="image"><%= image_tag "iptables/all/dpp-3-1.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-3-2.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-3-3.png", :alt => nil %></div>
			</div>
			<div class="level">
				<%= render :partial => 'box', :locals => { :chain => :INPUT, :rules => irules } %>
				<div class="image middle bg4"><%= image_tag "iptables/all/dpp-4-2.png", :alt => nil %></div>
				<%= render :partial => 'box', :locals => { :chain => :OUTPUT, :rules => irules } %>
			</div>
			<div>
				<div class="image"><%= image_tag "iptables/all/dpp-5-1.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-5-2.png", :alt => nil %></div>
				<div class="image"><%= image_tag "iptables/all/dpp-5-3.png", :alt => nil %></div>
			</div>
		</div>
		<%= render :partial => 'box', :locals => { :chain => :LOCALHOST, :rules => irules } %>
	</div>
	<% end -%>
</div>
<% end -%>
